@{
    ViewData["Title"] = "Home";
}

<style>

    
    /* Create two equal columns that sits next to each other */
    .column {
        flex: 50%;
        padding: 0 4px;
        align-content:;
    }

        .column img {
            margin-top: 8px;
            vertical-align: middle;
        }
    image {
        float: left;
        padding: 20px;
        width: 70%;
    }
</style>


<div class="text-center">
    <h1 class="display-4">Just tag your city</h1>
   
</div>

<div>

    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Sant%27Angelo_bridge%2C_dusk%2C_Rome%2C_Italy.jpg/1199px-Sant%27Angelo_bridge%2C_dusk%2C_Rome%2C_Italy.jpg" alt="Sample Photo" style="float:left; margin-right: 10px; margin-bottom:5px" />



    <p>
        incredible app to look for trending tourist attraction spots
    </p>

    <p>
        want everyone to know about that temple you visited last year, just post it and tag that city
    </p>






</div>
